MODEL_PATH=<models/name-file.onnx>
AMI_ID=<ami-id>
AWS_ACCESS_KEY_ID=<aws-access-key>
AWS_SECRET_ACCESS_KEY=<aws-secret-key>
AWS_DEFAULT_REGION=<default:ap-southeast-1/sigapore>
SQS_QUEUE_URL=<url-aws-sqs>
SUBNET_AZ_A=<subnet-id>
SUBNET_AZ_B=<subnet-id>
SUBNET_AZ_C=<subnet-id>
SHADOW_MODE=<test:True/real:False>
LOOP_INTERVAL_SEC=60

# Jenkins token
JENKINS_URL=<jenkins-url-domain>
JENKINS_USER=<user>
JENKINS_TOKEN=<Token>